{% load forms %}
<div class="portlet">
  <div class="portlet-heading bg-custom">
    <h3 class="portlet-title" style="float: none !important">
      {% icon 'fa-users' %}
      Teams
      <i class="fa fa-pencil edit pull-right"
         ng-click="open_modal('EditTeamsCtrl', '/templates/modals/edit_teams.html', 'lg', {episode: episode})"></i>
    </h3>
  </div>
  <ul class="panel-collapse collapse in">
    <li class="list-group-item"
        ng-repeat="item in episode.getTags()"
        ng-show="options.tag_visible_in_list.indexOf(item) != -1">
      <a href="/#/list/[[ options.tag_slugs[item] ]]" >[[ options.tag_display[item] ]]</a>
    </li>
  </ul>
</div>
