<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

              <li class="text-muted menu-title">Navigation</li>

                <li class="">
                    <a href="/#/" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </span></a>
                </li>
                <li class="">
                    <a href="#/department/" class="waves-effect"><i class="fa fa-sitemap"></i> <span> Department </span> </span></a>
                </li>
                <li class="">
                    <a href="#/doctor/" class="waves-effect"><i class="fa fa-user-md"></i> <span> Doctor </span> </span></a>
                </li>
                <li class="">
                    <a href="#/list/" class="waves-effect active"><i class="fa fa-user"></i> <span> Patient </span></a>
                </li>
                <li class="">
                    <a href="#/nurse/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Nurse </span></a>
                </li>
                <li class="">
                    <a href="#/pharmacist/" class="waves-effect"><i class="fa fa-medkit"></i> <span> Pharmacist </span></a>
                </li>
                <li class="">
                    <a href="#/laboratorist/" class="waves-effect"><i class="fa fa-user"></i> <span> Laboratorist </span></a>
                </li>
                <li class="">
                    <a href="#/accountant/" class="waves-effect"><i class="fa fa-money"></i> <span> Accountant </span></a>
                </li>
                <li class="">
                    <a href="#/receptionist/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Receptionist </span></a>
                </li>
                 

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->

<div class="content-page">
    <div class="content">
          <div class="container content-offset">
            <div class="container-fluid content-offset">
              {% block heading %}

              {% endblock %}

              <div class="row content-offset-25"> <!-- Main Panel -->
                <div class="col-md-12"> <!-- Detail panels -->

                  {% block content %}{% endblock %}
                </div> <!-- Ends Main Panel -->
                
                  {% block footer %}{% endblock %}

              </div>
            </div> <!-- Ends Action Panels -->
          </div>
    </div>
</div>
