{% extends 'layouts/left_panel.html' %}
{% block heading %}
<!-- <div class="row screen-only">
  <div class="col-md-12">
    <h1 >
      <div class="btn-group pull-left" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-secondary dropdown-toggle" ng-disabled="disabled">
          <i class="fa fa-user-md"></i>
          {{ patient_list.display_name }}
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu slides" role="menu">
          {% for list in lists %}
          {% if list.get_slug != list_slug %}
          <li>
            <a href="#/list/{{ list.get_slug }}">
              {{ list.display_name }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if not user.profile.explicit_access_only %}
      <button class="btn btn-primary pull-right"
              ng-show="!profile.readonly"
              ng-click="addEpisode()">
        <i class="glyphicon glyphicon-plus"></i>
        Add Patient
      </button>
      {% endif %}
    </h1>
  </div>
 -->   <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Patients</h4>
            <ol class="breadcrumb">
                <li><a href="/#/">Home</a></li>
                <!-- <i><a href="#">Crm</a></li> -->
                <li class="active">Patients</li>
            </ol>
        </div>
    </div>
    
    <div class="row" ng-hide="!profile.can_see_pid()">
      <div class="col-sm-4">
        <form role="form">
                <div class="form-group contact-search m-b-30">
                  <input class="form-control" ng-model="query.hospital_number"
                       ui-event="{focus: 'focusOnQuery()', blur: 'blurOnQuery()'}"
                       type="text" class="input-small" placeholder="Hospital #">
                    <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                </div> <!-- form-group -->
            </form>
      </div>
      <div class="col-sm-4">
        <form role="form">
                <div class="form-group contact-search m-b-30">
                  <input class="form-control" ng-model="query.name" ui-event="{focus: 'focusOnQuery()', blur: 'blurOnQuery()'}"
                     type="text" class="input-small" placeholder="Name">
                    <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                </div> <!-- form-group -->
            </form>
      </div>
      <div class="col-sm-4">
        <!-- { if not user.profile.explicit_access_only %} -->
        <button class="btn btn-default btn-md waves-effect waves-light m-b-30" 
              ng-show="!profile.readonly"
              ng-click="addEpisode()">
        <i class="glyphicon glyphicon-plus"></i>
        Add Patient
      </button>
      </div>
    </div>
</div>
{% endblock %}


{% block content %}
<h4 class="print-only">
  {{ patient_list.display_name }}
</h4>

<div class="screen-only">
  <div class="visible-sm panel panel-active">
    <div class="panel-heading">
      <i class="fa fa-users"></i> Patients
    </div>
    <ul class="list-group">
      <li class="list-group-item spreadsheet-view" ng-repeat="row in rows" ng-class="{selected: episode.id == row.id}">
        <a href="/#[[ row.link ]]">
          <div class="row">
            <div class="col-sm-6">
              <div ng-repeat="item in row.demographics">
                {% include models.Demographics.get_display_template %}
              </div>
            </div>
            <div class="col-sm-6">
              <div ng-repeat="item in row.diagnosis">
                {% include models.Diagnosis.get_display_template %}
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="patient-list-container hidden-sm always-on-print-block" freeze-headers fix-height>
  <div class="card-box table-responsive">
    <h4 class="m-t-0 header-title"><b>Patients</b></h4>
    <table id="datatable" class="table table-striped table-bordered">
      <thead class="table-header">
    	  <tr>
    	    {% for column in columns %}
    	    <th><div>
            <i class="{{ column.icon }}"></i>
            {{ column.title }}
            </div>
          </th>
    	    {% endfor %}
          <th>
            <div>
             Action 
            </div>
          </th>
    	  </tr>
      </thead>
      <tbody>
    	  <tr ng-repeat="row in rows"
            ng-click="select_episode(row, $index)"
            ng-class="{selected: episode.id == row.id}"
            scroll-episodes="isSelectedEpisode"
            scroll-container=".patient-list-container"
            >
    	    {% for column in columns %}
    	    <td {% ifequal column.title "Teams" %} class="screen-only"{% endifequal %} >
    		    <div ng-repeat="item in row.{{column.name}} {% if column.list_limit %} |limitTo:{{ column.list_limit }}{% endif %} track by $index"
    			    ng-dblclick="editNamedItem(row, '{{column.name}}', $index);$event.stopPropagation()"
    			    >
    			  {% include column.template_path %}
    		    </div>

    		    {% if not column.single %}
    		    <div class="edit_item"
                  ng-click="editNamedItem(row, '{{ column.name }}', row.{{column.name}}.length)"
    			    ng-dblclick="editNamedItem(row, '{{ column.name  }}', row.{{column.name}}.length)"
    			    >
    			  <span ng-show="!profile.readonly">
    			    <div class="btn btn-warning btn-sm btn-icon icon-left"> <i class="glyphicon glyphicon-plus"></i>Add
              </div>
    			  </span>
    			  &nbsp;
    		    </div>
              <!-- { else %}
              <div class="edit_item"
                  ng-click="editNamedItem(row, '{ column.name }}', 0)"
    			    ng-dblclick="editNamedItem(row, '{ column.name }}', 0)"
    			    >
    			  <span ng-show="!profile.readonly">
    			    Edit <i class="glyphicon glyphicon-pencil pull-right"></i>
    			  </span>
    			  &nbsp;
    		    </div>-->

              {% endif %} 
    	    </td>
    	    {% endfor %}
          <td>
            <a ng-href='[[ "#/patient/" + episode.demographics[0].patient_id + "/" + episode.id]]' class="btn btn-danger btn-sm btn-icon icon-left"> <i class="entypo-cancel"></i>Details </a>&nbsp;
            <div class="btn btn-default btn-sm btn-icon icon-left"
                  ng-click="editNamedItem(row, 'demographics', 0)"
              ng-dblclick="editNamedItem(row, 'demographics', 0)"
              >
                <span ng-show="!profile.readonly">
                  <i class="fa fa-pencil"></i> Edit 
                </span>
              </div>
          </td>
    	  </tr>
      </tbody>
    </table>
  </div>
  <div class="empty-list" ng-hide="num_episodes > 0">
    <p class="lead text-center">
      There are no patients on this list.
    </p>
    <p class="lead text-center">
      <span class="screen-only">
        Would you like to <a href="" ng-click="addEpisode()">add one</a>?
      </span>
    </p>
</span>
</div>
</div>

<footer class="text-center keyboard-shortcuts screen-only">
  <a class="pointer screen-only" ng-click="keyboard_shortcuts($event)">
    <i class="fa fa-keyboard-o"></i> Keyboard shortcuts available
  </a>
</footer>



{% endblock %}

{% block footer %}

{% include 'keyboard_shortcuts_modal.html' %}

{% endblock %}
