{% load staticfiles %}
{% load compress %}
{% load application %}
<!doctype html>
<html>
	<head>
		<!--[if lte IE 8]>
			<script src="{% static "js/lib/utils/json3.min.js" %}"></script>
		<![endif]-->
		<title>{% block title %}Inayo{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" Content="text/html;charset=utf-8"/> <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
			{% endblock meta %}
		<script type="text/javascript" src="{% static "js/lib/jquery-1.11.3/jquery-1.11.3.js" %}"></script>
		<script src="{% static "bootstrap-3.1.0/js/bootstrap.js" %}"></script>

        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
        {% compress css %}
			<!-- <link href="{% static "bootstrap-3.1.0/css/bootstrap.css" %}" rel="stylesheet" media="all">
		    <link href="{% static "css/font-awesome/css/font-awesome.css" %}" rel="stylesheet" media="all">
			<link href="{% static "css/opal.css" %}" rel="stylesheet" media="all">
	        <link href="{% static "css/print.css" %}" rel="stylesheet" media="print"> -->
					<!-- <link href="{% static "assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" %}" rel="stylesheet" />
					        <link href="{% static "assets/plugins/switchery/css/switchery.min.css" %}"  rel="stylesheet" />
					        <link href="{% static "assets/plugins/multiselect/css/multi-select.css"  %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/plugins/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet" />
					        <link href="{% static "assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" %}" rel="stylesheet" /> -->

					        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/css/core.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/css/components.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/css/icons.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/css/pages.css" %}" rel="stylesheet" type="text/css" />
					        <link href="{% static "assets/css/responsive.css" %}" rel="stylesheet" type="text/css" />
            {% application_stylesheets %}
        {% endcompress %}
	</head>
	<body>
		<div id="wrapper">
      {% block navbar %}{% include 'navbar.html' %}{% endblock %}
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
