{% load staticfiles %}
<!-- <cript type="text/ng-template" id="chat.html"> -->
<!-- Right Sidebar -->
<div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
        <ul class="list-group contacts-list">
        </ul>
    </div>
</div>
<!-- /Right-bar -->
<!-- chat box -->
 <div id="chat-container">
 </div>
<!-- Chat box -->

<style type="text/css">
	#chat-container { position: fixed; bottom:0; right:0; z-index: 10; font-size: 13px;}
	.chat-box { border: 1px solid #999; float: right; position: relative; margin: 0 5px;}
	.title { padding: 0.5em; background-color: blue; color: white; }
	.text { padding: 10px; height: 150px; background-color: white; }
	.me {text-align: right; line-height: 20px;}
	.portlet {width: 250px;}
	.portlet-body { padding: 5px !important;}
	.portlet-heading {height: 35px; padding-top: 5px !important;}
	.text-muted {font-size: 11px;}
	.img-circle {height: 32px;}
	.message
	{
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	.chat
	{
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    height: 200px;
	    overflow-y: auto;
	}
	.chat-video
	{
		width: 100%;
		height: 30px;
		padding-left: 10px;
    	overflow: hidden;
    	border-bottom: solid 1px #aaa;
    	font-size: 20px;
	}
	.chat-video div
	{
		 cursor: pointer;
	}
	.chat li
	{
	    margin-bottom: 10px;
	    padding-bottom: 5px;
	    border-bottom: 1px dotted #B3A9A9;
	}

	.chat li.left .chat-body
	{
	    margin-left: 60px;
	}

	.chat li.right .chat-body
	{
	    margin-right: 60px;
	}


	.chat li .chat-body p
	{
	    margin: 0;
	    color: #777777;
	}

	.panel .slidedown .glyphicon, .chat .glyphicon
	{
	    margin-right: 5px;
	}

	.panel-body
	{
	    overflow-y: scroll;
	    height: 250px;
	}
	.round {
	    display: inline-block;
	    height: 30px;
	    width: 30px;
	    line-height: 30px;
	    padding-left: 5px;
	    -moz-border-radius: 15px;
	    border-radius: 15px;
	    background-color: #222;    
	    color: #FFF;
	    text-align: center;  
	    background-color: #3EA6CE;
	}

</style>
 
 <!-- connect to socket.io, make sure angular-socket.io is running on port 3000 -->
<script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script> 
<script src="{% static "assets/js/wow.min.js" %}"></script>
<script type="text/javascript">

/**
 * AngularHelper : Contains methods that help using angular without being in the scope of an angular controller or directive
 */
var AngularHelper = (function () {
    var AngularHelper = function () { };

    /**
     * ApplicationName : Default application name for the helper
     */
    var defaultApplicationName = "opal";

    /**
         * Compile : Compile html with the rootScope of an application
         *  and replace the content of a target element with the compiled html
         * @$targetDom : The dom in which the compiled html should be placed
         * @htmlToCompile : The html to compile using angular
         * @applicationName : (Optionnal) The name of the application (use the default one if empty)
         */
    AngularHelper.Compile = function ($targetDom, htmlToCompile, applicationName) {
        var $injector = angular.element(document.body).injector();//angular.injector(["ng", applicationName || defaultApplicationName]);

        $injector.invoke(["$compile", "$rootScope", function ($compile, $rootScope) {
                        //Get the scope of the target, use the rootScope if it does not exists
            // var $scope = $targetDom.html(htmlToCompile).scope();
            $compile($targetDom)( $rootScope);
            $rootScope.$digest();
        }]);
   }

    return AngularHelper;
})();

  var flag = "close";
  var chatter = [];
  $(".right-bar-toggle").click(function(){
    if (flag == "close"){
      $(".right-bar").css("right", 0);
      flag = "open";
    }
    else{
      $(".right-bar").css("right", -299);
      flag = "close";
    }
  });
    $.ajax({
    url : '/api/v0.1/patientlist/all_patients/',
    type : "GET",
    dataType:'json',
    data : {},
    success : function(json) {
      for (var i = json.length - 1; i >= 0; i--) {
        var name = json[i]["demographics"][0]["first_name"] + " " + json[i]["demographics"][0]["surname"] ;
        $("ul.contacts-list").append('<li btn-click class="list-group-item chat-item" id="'+ i.toString()+'" style="height:50px;"><span class="name">'+name+'</span><i class="fa fa-circle online"></i></li>');
        chatter.push("false");
      }
      // console.log(json[0])
        
    },
    // handle a non-successful response
    error : function(xhr,errmsg,err) {
       $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
           " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
       console.log(xhr.status + ": " + xhr.responseText + "failed!!"); // provide a bit more info about the error to the console
    }
  });
  $(document).delegate(".chat-item","click",function(e){
    id = parseInt($(this).attr('id'))
    if ( chatter[id] == "false"){
       $("#chat-container").append(`
			<div id="chat-box-`+id+`" class ="chat-box" ng-controller="ChatCtrl">
			 	<div class="portlet">
			 		<div class="portlet-heading bg-inverse">
				          <h3 class="portlet-title">
				              Purple Heading
				          </h3>
				          <div class="portlet-widgets">
				              <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
				              <span class="divider"></span>
				              <a data-toggle="collapse" data-parent="#accordion`+id+`" href="#bg-inverse"><i class="ion-minus-round"></i></a>
				              <span class="divider"></span>
				              <a href="" data-toggle="remove"><i class="ion-close-round"></i></a>
				          </div>
				          <div class="clearfix"></div>
				      </div>
				    <div id="bg-inverse" class="panel-collapse collapse in">
						<div class="portlet-body">
							<div class="chat-video">
								<div onClick="window.open('/chat/chat/`+id+`','mywindow','width=900,height=800')"><i class="fa fa-video-camera"></i></div>
								<i class="icon-settings pull-right"></i>
							</div>
							<ul class="chat">
								<li class="right clearfix" ng-repeat="message in chat_messages"  ng-class="{alert: message.user == 'chatroom'}">
								<span class="right clearfix" ng-show="message.user=='Guest 1'">
									<span class="chat-img pull-right">
									  <img src="/assets/{{ request.user.profile.image}}" alt="User Avatar" class="img-circle" />
									</span>
									  <div class="chat-body clearfix">
									      <p>
									         [[message.text]] 
									      </p>
									  </div>
									</span>
								
								<span class="left clearfix" ng-show="message.user!='Guest 1'">
									<span class="chat-img pull-left">
									  <div class="round blue">
						                <span class="glyphicon glyphicon-user"></span>
						            </div>
									</span>
									  <div class="chat-body clearfix">
									      <p>
									          [[message.text]] 
									      </p>
									  </div>
									</li>
							</ul>
						 <form ng-submit="sendMessage()">
					        <input size="60" ng-model="message" class="message" placeholder="Type a message">
					        <!-- <input type="submit" value="Send"> -->
					     </form>
				      </div>
				  </div>
				</div>
			</div>
        `);
   };

	var $targetDom = $("#chat-box-"+id);
	console.log($targetDom);
	//Compile it to bind it with angular
    AngularHelper.Compile($targetDom);
 		
	chatter[id] = "true";
     name = $(this).text();
     $(".portlet-title").text(name);
       $(".right-bar").css("right", -299);
       flag = "close";
  });
</script>