{% load staticfiles %}
<!-- DataTables -->
    <link href="{% static "assets/plugins/datatables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/buttons.bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/fixedHeader.bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/responsive.bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/scroller.bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/dataTables.colVis.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/dataTables.bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/datatables/fixedColumns.dataTables.min.css" %}" rel="stylesheet" type="text/css"/>



<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

              <li class="text-muted menu-title">Navigation</li>

                <li class="">
                    <a href="/#/" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>
                <li class="">
                    <a href="#/department/" class="waves-effect active"><i class="fa fa-sitemap"></i> <span> Department </span></a>
                </li>
                <li class="">
                    <a href="#/doctor/" class="waves-effect"><i class="fa fa-user-md"></i> <span> Doctor </span></a>
                </li>
                <li class="">
                    <a href="#/list/" class="waves-effect"><i class="fa fa-user"></i> <span> Patient </span></a>
                </li>
                <li class="">
                    <a href="#/nurse/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Nurse </span></a>
                </li>
                <li class="">
                    <a href="#/pharmacist/" class="waves-effect"><i class="fa fa-medkit"></i> <span> Pharmacist </span></a>
                </li>
                <li class="">
                    <a href="#/laboratorist/" class="waves-effect"><i class="fa fa-user"></i> <span> Laboratorist </span></a>
                </li>
                <li class="">
                    <a href="#/accountant/" class="waves-effect"><i class="fa fa-money"></i> <span> Accountant </span></a>
                </li>
                <li class="">
                    <a href="#/receptionist/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Receptionist </span></a>
                </li>
                 

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->

<section>
<div class="content-page">
	<div class="content">
    
		<div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title"><b>Departments</b></h4>
                    <table id="datatable" class="table table-striped table-bordered">
                    	<thead>
					        <tr>
					            <th>Name</th>
					            <th>Description</th>
					            <th>Options</th>
					        </tr>
					    </thead>

					    <tbody>
					        {% for item in depts %}   
					        <tr>
					            <td>{{item.name}}</td>
					            <td>{{item.description}}</td>
					            <td>
                                    <a class="btn btn-default btn-sm btn-icon icon-left edit-item" data-toggle="modal" data-id={{item.id}} href="{% url 'department-edit' item.id %}" data-target="#my-modal" title="edit item" data-tooltip>
					                    <i class="entypo-pencil"></i>
					                    Edit
					                </a>
					            </td>
					        </tr>
							{% endfor %}					       
					    </tbody>   
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>

<!-- Modal --> 
<div class="modal fade" id="my-modal" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="">
        <div class="modal-content">
        <div class="model-body">
            <form id="item_update_form" method='post' class="form" role="form" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Item </h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group"> 
                        {% for field in form %} 
                        <div class="form-group"> 
                            {% if field.errors %} 
                            <ul class="form-errors"> 
                            {% for error in field.errors %} 
                                <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li> 
                            {% endfor %} 
                            </ul> 
                            {% endif %} 
                            {{ field.label_tag }} {{ field }} 
                            {% if field.help_text %}
                                <div class="form-helptext">
                                    {{ field.help_text }}
                                </div>
                            {% endif %}
                        </div> 
                        {% endfor %} 
                    </div>
                    <div class="modal-footer"> 
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="cancel" /> 
                    <input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" /> 
                </div> 
            </form> 

<!--             <script>
             jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });
             var form_options = { target: '#modal', success: function() { } } $('#item_update_form').ajaxForm(form_options); 

            </script> 
 -->        
            </div>
        </div>
    <!-- /.modal-content --> 
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->	

</section>
<script type="text/javascript">
$(document).on("click", ".edit-item", function () {
     var myId = $(this).data('id');
     $("#item_update_form").attr("action", "/department-edit/" + myId);
     $(".modal-body #bookId").val( myBookId );
     // As pointed out in comments, 
     // it is superfluous to have to manually call the modal.
     // $('#addBookDialog').modal('show');
});
</script>
<script src="{% static "http://malsup.github.com/jquery.form.js"  %}"></script>

<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.bootstrap.js" %}"></script>

<script src="{% static "assets/plugins/datatables/dataTables.buttons.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/buttons.bootstrap.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/jszip.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/pdfmake.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/vfs_fonts.js" %}"></script>
<script src="{% static "assets/plugins/datatables/buttons.html5.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/buttons.print.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.keyTable.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.responsive.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/responsive.bootstrap.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.scroller.min.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.colVis.js" %}"></script>
<script src="{% static "assets/plugins/datatables/dataTables.fixedColumns.min.js" %}"></script>

<script src="{% static "assets/pages/datatables.init.js" %}"></script>

<script src="{% static "assets/js/jquery.core.js" %}"></script>
<script src="{% static "assets/js/jquery.app.js" %}"></script>
