<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<form id="item_update_form" method='post' class="form" role="form" action="{% url 'department-edit' speciality.id %}">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Item {{ speciality.id }}</h4>
			</div>
			<div class="modal-body">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="form-group"> 
					{% for field in form %} 
					<div class="form-group"> 
						{% if field.errors %} 
						<ul class="form-errors"> 
						{% for error in field.errors %} 
							<li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li> 
						{% endfor %} 
						</ul> 
						{% endif %} 
						{{ field.label_tag }} {{ field }} 
						{% if field.help_text %}
							<div class="form-helptext">
								{{ field.help_text }}
							</div>
						{% endif %}
					</div> 
					{% endfor %} 
				</div>
				<div class="modal-footer"> 
				<input type="button" class="btn btn-default" data-dismiss="modal" value="annulla" /> 
				<input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" /> 
			</div> 
		</form> 

		<script>
		 jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });
		 var form_options = { target: '#modal', success: function() { } } $('#item_update_form').ajaxForm(form_options); 

		</script> 
	</div>
	<!-- /.modal-content --> 
</div>
<!-- /.modal-dialog -->