{% load static %}

{% load application %}
{% load plugins %}
<div class="topbar">

  <!-- LOGO -->
  <div class="topbar-left">
      <div class="text-center">
          <a href="/#/" class="logo"><i class="icon-magnet icon-c-logo"></i><span>{{OPAL_BRAND_NAME}}</span></a>
          <!-- Image Logo here -->
          <!--<a href="index.html" class="logo">-->
              <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
              <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
          <!--</a>-->
      </div>
  </div>


  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar">
        <div class="pull-left">
            <button class="button-menu-mobile open-left waves-effect waves-light">
                <i class="md md-menu"></i>
            </button>
            <span class="clearfix"></span>
        </div>
        <div ng-show="$location.path().indexOf('/search')">
          <div ng-controller="SearchCtrl">
            <form role="search" ng-submit="search()" class="navbar-left app-search pull-left hidden-xs">
              <input
                {% if AUTOCOMPLETE_SEARCH %}
                  ng-model="query.autocompleteSearchTerm"
                  data-html="1"
                  data-template="search/search_results.html"
                  data-watch-options=true
                  bs-typeahead
                  bs-options="i as i.display for i in results"
                {% else %}
                  ng-model="query.searchTerm"
                {% endif %}
                slash-key-focus="!state || state==='normal'"
                ng-blur="enableShortcuts()"
                ng-focus="disableShortcuts()"
                type="text"
                class="form-control"
                placeholder="Search"
              /> 
            <a href=""><i class="fa fa-search"></i></a>
            </form>
          </div>
        </div>
        <div ng-show="$location.path().indexOf('/search')">

        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            {% application_menuitems %}
            {% if not user.profile.explicit_access_only %}
              {% plugin_menuitems %}
            {% endif %}
            {% if request.user.is_staff %}
            <li class="hidden-xs">
                <a href="" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
            </li>
            <li class="hidden-xs">
                <a href="" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
            </li>
            <li class="dropdown top-menu-item-xs">
                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="/assets/{{ request.user.profile.image}}"  alt="user-img" class="img-circle"> </a>
                <ul class="dropdown-menu">
                    <li><a href="#/account"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                    <li><a href="/admin"><i class="ti-settings m-r-10 text-custom"></i> Admin</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                </ul>
            </li>
            {% endif %}
          {% endif %}

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="modal" id="changelog">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Changelog</h3>
	  </div>
	  <div class="modal-body">
        {% include 'changelog.html' %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

{% block chat %}{% include 'chat.html' %}{% endblock %}

