{% load panels %}
{% load forms %}
<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

              <li class="text-muted menu-title">Navigation</li>

                <li class="">
                    <a href="/#/" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </span></a>
                </li>
                <li class="">
                    <a href="#/department/" class="waves-effect"><i class="fa fa-sitemap"></i> <span> Department </span> </span></a>
                </li>
                <li class="">
                    <a href="#/doctor/" class="waves-effect"><i class="fa fa-user-md"></i> <span> Doctor </span> </span></a>
                </li>
                <li class="">
                    <a href="#/list/" class="waves-effect active"><i class="fa fa-user"></i> <span> Patient </span></a>
                </li>
                <li class="">
                    <a href="#/nurse/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Nurse </span></a>
                </li>
                <li class="">
                    <a href="#/pharmacist/" class="waves-effect"><i class="fa fa-medkit"></i> <span> Pharmacist </span></a>
                </li>
                <li class="">
                    <a href="#/laboratorist/" class="waves-effect"><i class="fa fa-user"></i> <span> Laboratorist </span></a>
                </li>
                <li class="">
                    <a href="#/accountant/" class="waves-effect"><i class="fa fa-money"></i> <span> Accountant </span></a>
                </li>
                <li class="">
                    <a href="#/receptionist/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Receptionist </span></a>
                </li>
                 

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
<div class="content-page">
  <div class="content">
    <div class="container-fluid content-offset">
       <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">[[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]
              <small>
                {% block subheading %}
                ([[ patient.demographics[0].date_of_birth | shortDate ]])
                [[ patient.demographics[0].hospital_number ]]
                {% endblock %}
              </small>
            </h4>
            <ol class="breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="#">Patients</a></li>
                <li class="active">[[ patient.demographics[0].first_name ]]</li>
            </ol>
        </div>
    </div>
  <div class="">
    <!-- Default panel contents -->
    

    <div class="">
      <div class="row">
        {% block content %}

        <div class="col-md-3"> <!-- Episode Switcher -->
          {% block pre_demographics %}{% endblock %}
          {% block demographics %}
            {% include 'partials/_demographics_panel.html' %}
          {% endblock %}
          {% block post_demographics %}{% endblock %}

          <div class="portlet">
            <div class="portlet-heading bg-custom">
              <h3 class="portlet-title" style="float: none !important">
                <i class="fa fa-history"></i>
                Episodes
              </h3>
            </div>
            <div class="panel-collapse collapse in">
              <div class="portlet-body">
                <a class="list-group-item episodelist pointer"
                   ng-class="{'bg-active': view == null && e.id == episode.id}"
                   ng-repeat="e in patient.episodes"
                   href="[[ '/#' + e.link]]"
                   ng-click="switch_to_episode($index, $event)"
                   >
                  [[ e.category_name ]]
                  <span ng-show="e.start">
                    [[ e.start | shortDate ]] - [[ e.end | shortDate ]]<span ng-show="!e.end">Current</span>
                  </span>
                </a>
              </div>
            </div>
          </div>

          {% if detail_views|length > 0 %}
          <div class="portlet">
            <div class="portlet-heading bg-custom">
              <h3 class="portlet-title" style="float: none !important">
                <i class="fa fa-list-alt"></i>
                Views
              </h3>
            </div>
            <div class="panel-collapse collapse in">
              <div class="portlet-body">
                {% for detail in detail_views %}
                <a class="list-group-item episodelist pointer"
                   ng-class="{'bg-active': view == '{{ detail.get_slug}}'}"
                   ng-click="switch_to_episode(0, $event) && switch_to_view('{{ detail.get_slug }}')"
                   href="[[ '/#/patient/' + patient.id + '/{{ detail.get_slug }}' ]]"
                   >
                  {{ detail.display_name }}
                </a>
                {% endfor %}
                {% block viewnavigation %}{% endblock %}
              </div>
            </div>
          </div>
          {% endif %}
        </div> <!-- End episode switcher -->
        <div class="col-md-9">
          <div class="col-md-12">
            {% for episode_category in episode_categories %}
            {% if episode_category.detail_template %}
            <div class="row" ng-show="view == null && episode.category_name == '{{ episode_category.display_name }}'">
              {% include episode_category.detail_template %}
            </div>
            {% endif %}
            {% endfor %}
            {% for detail in detail_views %}
            <div class="row" ng-show="view == '{{ detail.get_slug }}'">
              {% include detail.template %}
            </div>
            {% endfor %}
            {% block viewtemplates %}{% endblock %}
          </div>
        </div>

      </div> <!-- Ends Main Panel -->

      {% endblock content %}

    </div>

  </div> <!-- Panel body -->
    </div>
  </div>   <!-- Panel -->
</div>     <!-- Container -->
