{% load staticfiles %}
<link rel="{%static "stylesheet" href="assets/plugins/morris/morris.css"%}">
<link href="{%static "assets/plugins/fullcalendar/css/fullcalendar.min.css" %}" rel="stylesheet" />
<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

              <li class="text-muted menu-title">Navigation</li>

                <li class="">
                    <a href="/#/" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </span></a>
                </li>
                <li class="">
                    <a href="#/department/" class="waves-effect"><i class="fa fa-sitemap"></i> <span> Department </span> </span></a>
                </li>
                <li class="">
                    <a href="#/doctor/" class="waves-effect"><i class="fa fa-user-md"></i> <span> Doctor </span> </span></a>
                </li>
                <li class="">
                    <a href="#/list/" class="waves-effect"><i class="fa fa-user"></i> <span> Patient </span></a>
                </li>
                <li class="">
                    <a href="#/nurse/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Nurse </span></a>
                </li>
                <li class="">
                    <a href="#/pharmacist/" class="waves-effect"><i class="fa fa-medkit"></i> <span> Pharmacist </span></a>
                </li>
                <li class="">
                    <a href="#/laboratorist/" class="waves-effect"><i class="fa fa-user"></i> <span> Laboratorist </span></a>
                </li>
                <li class="">
                    <a href="#/accountant/" class="waves-effect"><i class="fa fa-money"></i> <span> Accountant </span></a>
                </li>
                <li class="">
                    <a href="#/receptionist/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Receptionist </span></a>
                </li>
                 

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
<div class="content-page">
  <div class="content">
    <div class="container content-offset">
  <!-- <div class="panel panel-primary"> -->
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-home"></i>
        Welcome to {{ OPAL_BRAND_NAME }}
      </h2>

    </div>

      <div class="row">


        <div class="col-lg-12 container">
          <div id="calendar"></div>
        </div>

        <div class="col-lg-12">
          <div class="card-box container">

          <h4 class="text-dark header-title m-t-0">Total Sales</h4>

          <div class="text-center">
                  <ul class="list-inline chart-detail-list">
                      <li>
                          <h5><i class="fa fa-circle m-r-5" style="color: #7e57c2;"></i>Desktops</h5>
                      </li>
                      <li>
                          <h5><i class="fa fa-circle m-r-5" style="color: #34d3eb;"></i>Tablets</h5>
                      </li>
                  </ul>
              </div>

              <div id="morris-line-example" style="height: 300px;"></div>

          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
  </div>
  </div>
</div>
<!-- BEGIN PAGE SCRIPTS -->
<script src="{% static "assets/plugins/morris/morris.min.js" %}"></script>
<script src="{% static "assets/plugins/raphael/raphael-min.js" %}"></script>
<script src='{% static "assets/plugins/moment/moment.js" %}'></script>
<script src='{% static "assets/plugins/fullcalendar/js/fullcalendar.min.js" %}'></script>
<script src='{% static "assets/pages/jquery.fullcalendar.js" %}'></script>

<script src="{% static "assets/js/jquery.core.js" %}"></script>
<script src="{% static "assets/js/jquery.app.js" %}"></script>