body {
	padding-left: 20px;
  	padding-top: 70px;
}
h3 a {
	color: #fca205;
}

#my-video {
	margin: 0;
	height: 500px;
	width: 720px;
	padding: 10px;
}

#their-video {
	height: 30px;
	width: 40px;
	padding: 2px;
}

.jumbotron {
	padding-top: 0px;
}

#chatinstructions {
	background-color: #dadada;
}

#chatvideo {
	background-color: #dadada;
	display: none;
}

#chatinfo {
	background-color: #ededed;
	display: none;
}

#chatcontrol {
	background-color: #dadada;
	display: none;
}

#homelink {
	text-decoration: none;
	color: white;
}

#edit-contact {
	display: none;
}

.voffset { margin-top: 2px;}
.voffset1 {margin-top: 5px;}
.voffset2 {margin-top: 10px;}