<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

              <li class="text-muted menu-title">Navigation</li>

                <li class="">
                    <a href="/#/" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </span></a>
                </li>
                <li class="">
                    <a href="#/department/" class="waves-effect"><i class="fa fa-sitemap"></i> <span> Department </span> </span></a>
                </li>
                <li class="">
                    <a href="#/doctor/" class="waves-effect"><i class="fa fa-user-md"></i> <span> Doctor </span> </span></a>
                </li>
                <li class="">
                    <a href="#/list/" class="waves-effect"><i class="fa fa-user"></i> <span> Patient </span></a>
                </li>
                <li class="">
                    <a href="#/nurse/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Nurse </span></a>
                </li>
                <li class="">
                    <a href="#/pharmacist/" class="waves-effect"><i class="fa fa-medkit"></i> <span> Pharmacist </span></a>
                </li>
                <li class="">
                    <a href="#/laboratorist/" class="waves-effect"><i class="fa fa-user"></i> <span> Laboratorist </span></a>
                </li>
                <li class="">
                    <a href="#/accountant/" class="waves-effect"><i class="fa fa-money"></i> <span> Accountant </span></a>
                </li>
                <li class="">
                    <a href="#/receptionist/" class="waves-effect"><i class="fa fa-plus-square"></i> <span> Receptionist </span></a>
                </li>
                 

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
<div class="content-page">
  <div class="content">
    <div class="container content-offset search-container">
    <div class="row">
      <div class="col-sm-7">
        <form role="form" ng-submit="search()">
                <div class="form-group contact-search m-b-30">
                  <input type="text" autofocus
                       name="name"
                       slash-key-focus="!state || state==='normal'"
                       ng-blur="enableShortcuts()"
                       ng-focus="disableShortcuts()"
                       placeholder="Name or Hospital Number"
                       ng-model="query.searchTerm"
                       class="form-control"
                       autocomplete="off"
                       />
                  <button ng-click="search()" type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                </div> <!-- form-group -->
            </form>
      </div>
      <div class="col-sm-3 col-sm-push-2 text-right">
          <a href="#/extract" class="btn btn-secondary pull-right">
            <i class="fa fa-sliders"></i>
            Advanced
          </a>
      </div>
    </div>

    
    </div>
  </div>
</div>