{% extends "videochat/base.html" %}
{% load staticfiles %}
{% block content %}
  <!-- Video area -->
  <div id="chatinstructions" class="row">
      <div class="col-md-10">
        <h3>Allow or Share access to your computers camera and microphone</h3>
        <p>Click the button at the top of your browser</p>
        <p>Here are some examples of what you might be seeing</p>
      </div>
  </div>
  <div id="chatvideo" class="row">
    
    <div class="col-md-4">
      <video id="my-video" muted="true" autoplay></video>
    </div>
    <div class="col-md-6">
      <video id="their-video" autoplay></video>
    </div>
    <p><center><button type="button" id="end-call" onclick="window.close()" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-remove"></i></button>&nbsp;
    <button type="button" id="mute-call" class="btn btn-warning btn-circle btn-lg"><i class="glyphicon glyphicon-volume-off"></i></button></center>
     </p>
  </div>

  <!-- Steps -->
  <div id="chatinfo" class="row">
    <!-- <div class="col-md-4">
      {% if user.is_authenticated %}
        <h4>Your contacts:</h4>
        <select class="form-control">
          <option value="none">Select a contact</option>
          {% for con in contacts %}
            <option value"{{con.id}}"> {{ con }} </option>
          {% endfor %}
        </select>
      {% endif %}
      <p>Your id: <span id="my-id">...</span></p>
      <p>Share this id with others so they can join you.</p>
    </div> -->
  </div>
  <div id="chatcontrol" class="row">
    <!-- Call in progress -->
    <div class="col-md-4">
      <p>Currently in call with <span id="their-id">...</span></p>
      <p><a class="btn btn-xs btn-danger" role="button" href="#" id="end-call1">End call</a></p>
    </div>
  </div>

{% endblock content %}
{% block footer %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.peerjs.com/0.3/peer.js"></script>
	<script>
	var csrftoken = '{{ csrf_token }}';
	</script>

	<script src="{% static "js/chat_init.js" %}"></script>
{% endblock footer %}