{% extends "videochat/base.html" %}
{% block content %}
	<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Start a video chat</h1>
        <p>Click the button below to start a video chat and then send the link to someone you know.</p>
		<form id="chat_form" method="post" action="">

            {% csrf_token %}
            {{ chat_form.chatname }}
			<div class="row">
				<div class="col-md-4">
					{% if user.is_authenticated %}
						<h4>Your contacts:</h4>
						<select class="form-control">
							<option value="none">Select a contact</option>
							{% for con in contacts %}
								<option value"{{con.id}}">
								{{ con }} <!-- {{con.profile.first_name}}: {{con.profile.email}} --> </option>
							{% endfor %}
						</select>
					{% endif %}
					<!-- Provide a button to click to submit the form. -->
            		<button type="submit" class="btn btn-primary" name="submit">Create Chat</button>
            		
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 voffset2">
					<p>OR join an existing chat</p>
					<input type="text" name="chatname" size="10" >
					<button type="submit"class="btn btn-success" name="joinchat">Join Chat</button>
				</div>
			</div>
        </form>
      </div>
    </div>
	
{% endblock content %}